/* 顶部导航 */
.topnav{
	width: 100%;
	height: 60px;
	top: 0;
	font-size:16px;
	color: #fff;
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/mainnav.png',sizingMethod='scale')";
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/mainnav.png',sizingMethod='scale')";
	background: url('image/mainnav.png');
	position: relative;
}
.topnav img{float: left;margin-left: 15px;margin-top: 5px;}
.topnav .title{float: left;margin-left: 15px;margin-top: 5px;width: auto;height: 50px;font-size: 36px;text-align: center;line-height: 50px;color: #fff}
.ifrdiv{width: 100%;min-height: 100%}
.ifrdiv .ifr{width: 100%;height: 100%;border: 0px;}
/* 指标池按钮 */
.indexpoolbnt{
	float: right;
	right:20px;
	top:15px;
	width: 100px;
	height: 30px;
	background-color: #fff;
	line-height: 30px;
	text-align: center;
	color: #00AFFE;
	cursor: pointer;
	padding: 0 5px;
	z-index: 9999;
	position: absolute;
}
/* 指标池弹出框 */
.indexpooldiv{
	position: absolute;
	top: auto;
	left: auto;
	width: 800px;
	height: 500px;
	background-color: #fff;
	border: 1px solid #cae0ee;
	display: none;
}
.indexpooldiv .title{width: 100%;height: 30px;line-height: 30px;text-indent: 1ex;background-color: #00AFFF;color: #fff;font-size: 14px;}
.indexpooldiv .ifr{width: 100%;height: 100%;border: 0;}
.indexpooldiv .title i{float: right;margin-right: 10px;font-size: 18px;cursor: pointer;}