* {
	font-family: "微软雅黑","宋体";
	font-size: 14px;
	margin: 0 auto;
	padding: 0 auto;
	list-style: none;
}
body{
	font-family: "微软雅黑","宋体";
	font-size: 14px;
	margin: 0px auto;
	padding:0px auto;
	overflow: hidden;
	background: #F5F5F5;
	background-repeat: repeat;
}

html{
	overflow-x: hidden;
}