.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label
, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after
, .layui-textarea{
	border-color: #B2B2B2 !important;
}
.layui-tab-title .layui-this:after{
	border-bottom-color: #f2f2f2 !important;
}
.maindiv{
	width: 96%;
	margin-left: 2%;
	padding-top: 20px;
	/* background-color: #f2f2f2; */
}
.handlediv{
	position: fixed;
	width: 100%;
	height: 60px; 
	background-color: rgba(0,0,0,.3); 
	bottom: 0;
	z-index: 999;
	display: none;
}
.handlediv button{margin-top: 12px;}
.line{
	float: left;
	width: 100%;
	height: 39px;
	border-bottom: 1px solid #B2B2B2;
	line-height: 39px;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	text-indent: 2ex;
	cursor: default;
}
.line i{float: right;margin-right: 10px;color: #818181;cursor: pointer;font-size: 24px;}
.line button{float: right;margin-right: 10px;font-style: normal;height: 30px;margin-top: 5px;line-height: 30px;}

.top{
	float: left;
	width: 100%;
	margin-top: 15px;
	/* border-bottom: 1px solid #c3c3c3 */
}
.bottom{
	float: left;
	width: 100%;
	margin-top: 15px;
	height: 1000px;
}
.layui-tab{
	height: 100%;
}
.layui-tab-content .layui-tab-item{height: 100% !important;}
.layui-tab-content .layui-tab-item iframe{height: 100%;width: 100%;border: 0;}
.top .info{
	float: left;
	width: 100%;
	height: 220px;
}
.top .other{
	float: left;
	width: 100%;
	margin-top: 15px;
}
.top .info .imgdiv{
	float: left;
	width: 200px;
	height: 200px;
	padding: 5px;
	border: 2px solid #B2B2B2;
	margin-top: 4px;
	position: relative;
}
.top .info .imgdiv img{width: 100%;height: 100%;}
.top .info .imgdiv .imghandlediv{
	position: absolute;
	display: none;
	width: 200px;
	bottom: 5px;
	height: 30px;
	background-color: rgba(0,0,0,.7);
	cursor: pointer;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
}
.top .info .imgdiv #iptHeadImg{display: none;}
.top .info .infodiv{
	float: left;
	margin-left: 15px;
	height: 218px;
}
.lb{cursor: default;}
.top .info .infodiv ul{float: left;margin: 0;padding: 0;width: 290px;margin-left: 10px}
.top .info .infodiv ul li{list-style: none;}
.top .info .infodiv ul li .ezchinfodiv{width: 290px;height: 30px;margin-left: 10px;margin-top: 12.333px;}
.top .info .infodiv ul li .ezchinfodiv div.lb{float: left;line-height: 30px;font-size: 14px;width: 80px;text-align: left;font-weight: bold;}
.top .info .infodiv ul li .ezchinfodiv input{float: left;border: 0;width: 180px;height: 28px;margin-top: 1px;background-color: transparent;margin-left: 10px;cursor: default;text-indent: 2ex}
.top .info .infodiv ul li .ezchinfodiv div.tips{float: left;max-width: 100px;margin-left: 10px;height: 30px;line-height: 30px;font-style: italic;color: red;font-size: 12px;cursor: default !important;}


.top .other .lb{float: left;width: 194px;height: 40px;line-height: 40px;text-align: center;font-weight: bold;font-size: 14px;}
.top .other .lbdiv{float: left;}
.top .other .lbdiv .pglable{float: left;width: 100px;height: 30px;text-align: center;line-height: 30px;border: 1px solid #B2B2B2;margin-left: 10px;margin-top: 5px;cursor: default;}
.top .other .lbdiv .insertlb{display: none;float: left;width: 32px;height: 32px;text-align: center;line-height: 32px;margin-left: 10px;margin-top: 5px;cursor: pointer;}

.top .other .lbdiv .pglable .removelbbnt{display: none;color: #818181;font-size: 18px;float: right;margin-right: 5px;cursor: pointer;}
.top .other .lbdiv .insertlb .addlbbnt{color: #818181;font-size: 22px;cursor: pointer;}

.inputboder{border-bottom: 1px solid #B2B2B2 !important;cursor: pointer !important;}

body .layer-msg .layui-layer-content{background-color: #fff;color: #000;text-align: center;}

.seldiv{
	width: 400px;
	margin-left: 50px;
	margin-top: 15px;
}
.seldiv .layui-form-select dl{max-height: 200px;}

body .nation-layer .layui-layer-content {overflow: visible;height: 50px !important;}

.checkboxdiv{
	width: 450px;
	margin-left: 25px;
	margin-top: 15px;
	float: left;
	height: 250px;
}
.checkboxdiv .titlediv{
	width: 450px;
	height: 29px;
	text-align: left;
	font-size: 14px;
	border-bottom: 1px solid #b7b7b7;
	line-height: 29px;
	text-indent: 2ex;
	margin-bottom: 10px;
	font-weight: bold;
	float: left;
}
.checkboxdiv .choselbdiv{
	float: left;
	width: 450px;
	height: 200px;
}
.layui-form-checkbox {margin-top: 15px !important;}

.addnewlbdiv{
	float: left;
	width: 450px;
	margin-left: 25px;
	margin-top: 5px;
	height: 190px;
}
.addnewlbdiv .titlediv{
	width: 450px;
	height: 29px;
	text-align: left;
	font-size: 14px;
	border-bottom: 1px solid #b7b7b7;
	line-height: 29px;
	text-indent: 2ex;
	margin-bottom: 20px;
	font-weight: bold;
}
.addnewlbdiv input{
	margin-top: 10px;
	height: 40px;
}
.addnewlbdiv button{float: left;width: 300px;height: 30px;margin-top: 10px;line-height: 30px;margin-left: 75px;}

.radiodiv{width: 450px;height: 50px;margin-left: 25px;}
.auditdescdiv{width: 450px;height: auto;margin-left: 25px;margin-top: 10px;}
.auditdescdiv .title{width: 450px;height: 29px;margin-top: 10px;line-height: 29px;}
.auditdescdiv textarea {
	width: 100%;
	height: 150px;
}








