.FONT-1{font-size: 14px !important;}
.FONT-2{font-size: 16px !important;}
.FONT-3{font-size: 18px !important;}
.map{width: 100%;height: 100%;z-index: 0}
.scalediv{position: absolute;bottom: 0px;left: 10px;z-index: 999999;width: auto;height: 30px;}
.filter{
	background-color: #fff;
	height: 40px;
	width: auto;
	padding-right:5px;
	padding-left:5px;
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 10 !important;
	border: 1px solid #cae0ee;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')"
}
/* 日月切换 */
.datetype{height: 30px;width: 80px;background-color: #fff;color: #000;border: 1px solid #cae0ee;float: left;margin-top: 5px;}
.datetype .eachdatetype{float: left;width: 50%;height: 100%;text-align: center;line-height: 30px;cursor: pointer;}
.datetype .cur_eachdatetype{background-color: #00AFFF;color: #fff}
/* 地域选择 */
.div_select{
	float: left;
	width: 80px;
	height: 30px;
	/* line-height:35px; */
	background-color: #fff;
	color: #000;
	margin-top: 5px;
	margin-left: 5px;
	border: 1px solid #cae0ee;
	z-index: 9999999;
	position: relative;
}
#xianquselect{
	width: 150px !important;
}
/* 兴趣点类型 */
.iprtype{
	width: 403px;
	height: auto;
	background-color: #fff;
	position: absolute;
	top: 50px;
	left: 10px;
	z-index: 999999 !important;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')"
}
.iprtype .eachtype1{
	float:left;
	height: 30px;
	width: 127.6px;
	min-width:80px;
	font-size: 12px;
	color: #000;
	border-left: 1px solid #cae0ee;
	border-bottom:1px solid #cae0ee;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}
.iprtype .eachtype2{
	float:left;
	height: 30px;
	width: 94px;
	min-width:80px;
	font-size: 12px;
	color: #000;
	border-left: 1px solid #cae0ee;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}
.iprtype .eachtype1 i{font-size: 22px !important;float: left;margin-right: 3px;line-height: 30px;}
.iprtype .eachtype2 i{font-size: 22px !important;float: left;margin-right: 3px;line-height: 30px;}
.iprtype .noleftboder{border-left: 0 !important}
.iprtype #HOME i{color: #DDB756}
.iprtype #SHOP i{color: #17FFEB;font-size: 18px !important;}
.iprtype #EDUCATION i{color: #A783E3}
.iprtype #HEALTH_CARE i{color: red}
.iprtype #GOVERNMENT i{color: #5CC451}
.iprtype #TRADING_ESTATE i{color: #C5529D}
.iprtype #ORTHER i{color: #2D81B0}
.iprtype .cur_eachtype{color: #fff !important;background-color: #00AFFF !important;}
.iprtype .cur_eachtype i{color: #fff !important}
/* 地图指标选框 */
.indexselect{
	position: absolute;
	z-index: 88888 !important;
	height: auto;
	width: 300px;
	background-color: #fff;
	top: 5px;
	left: auto;
	border: 1px solid #cae0ee;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
	color: #fff;
	cursor: default;
}
.indexselect .title{width: 100%;height: 26px;background-color: #00AFFE;line-height: 26px;text-indent: 1ex;}
.indexselect .title span{text-indent: 1ex;font-size: 14px;}
.indexselect .title .icon{float: right;height: 18px;width: auto;line-height: 18px;margin-top: 4px;text-align: center;;padding-right: 5px;cursor: pointer;}
.indexselect .title .leftboder{border-right: 1px solid #fff;}
.indexselect .title .icon i{color: #fff;font-size: 12px;cursor: pointer;margin-right: 3px;}
.indexselect .main{width: 100%;height: auto;color: #272727;line-height: 44px;text-indent: 1ex;}
.indexselect .main .data{float:left;width: 100%;height: 40px;border-bottom: 1px solid #cae0ee;line-height: 40px;}
.indexselect .main .info{float:left;width: 100%;height: 24px;line-height: 24px;}
.indexselect .main .data span.number{float: left;text-indent: 1ex;font-size: 18px !important;color: #272727;}
.indexselect .main .data span.scale{float: right;font-size: 18px !important;margin-right: 8px;color: #272727;}
.indexselect .main .info span.indexname{float: left;color: #272727;text-indent: 1ex}
.indexselect .main .info i{float: right;font-size: 16px;color: #00AFFE;margin-right: 8px;cursor: pointer;}
.indexselect .main .info i.relicon{}
.indexselect .main .info i.updateicon{margin-right: 0px;}
.indexselect .main .data span.scale i{font-size: 20px;color: #21CFB8;cursor: default;}
/* 指标搜索框 */
.searchindex{
	position: absolute;
	top:auto;
	left: auto;
	width: auto;
	height:auto;
	min-height: 30px;
	background-color: #fff;
	z-index: 88889 !important;
	display: none;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
}
.searchindex .title{width: 100%;height: 26px;background-color: #00AFFE;line-height: 26px;text-indent: 1ex;color: #fff}
.searchindex .main{width: 100%;height: 30px;background-color:#F2FBFF;line-height: 30px;}
.searchindex .title i{float: right;margin-right: 5px;color: #fff;font-size: 18px;cursor: pointer;}
.searchindex .main input.indexipt{width: 85%;height: 26px;background-color: #F2FBFF;border: 0;margin-top: 1px;color: #272727;margin-left: 1%;}
.searchindex .main i{float: right;margin-right: 2%;color: #00AFFE;font-size: 20px;cursor: pointer;}
.searchindexresult{
	display:none;
	position: absolute;
	top:auto;
	left: auto;
	width: 300px;
	height:auto;
	max-height: 72px;
	background-color: #fff;
	z-index: 88889 !important;
	display: none;
}
.searchindexresult .boder{border-bottom: 1px dashed #cae0ee;}
.searchindexresult .eachresult{width: 100%;height: 24px;text-align: left;text-indent: 1ex;line-height: 24px;cursor: pointer;color: #000;}
.searchindexresult .eachresult:HOVER {color: #fff;background-color: #00AFFF}
/* 当前地图指标相关指标信息 */
.curmaprelindexinfo{
	width: 300px;
	position: absolute;
	top: 100px;
	left: :500px;
	z-index: 999999;
	border: 1px solid #cae0ee;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
	display: none;
}
.curmaprelindexinfo .title{width: 100%;height: 28px;background-color: #55BCFF;line-height: 28px;text-indent: 1ex;color: #fff}
.curmaprelindexinfo .main{width: 100%;height: auto;max-height: 75px;background-color: #D8F0FF}
.curmaprelindexinfo .title i{float: right;margin-right: 5px;cursor: pointer;}
.curmaprelindexinfo .main .eachrelindex{width: 100%;height: 24px;line-height: 24px;border-bottom:1px solid #cae0ee;text-indent: 2ex;}
.curmaprelindexinfo .main .eachrelindex i{cursor: default;}
.curmaprelindexinfo .main .eachrelindex span{cursor: default;}
.curmaprelindexinfo .main .eachrelindex .indexname{float: left;}
.curmaprelindexinfo .main .eachrelindex .indexvalue{float: left;}
.curmaprelindexinfo .main .eachrelindex .indexrate{float: right;margin-right: 5px;}
.curmaprelindexinfo .main .eachrelindex .rateicon{float: right;}



/* 导航 */
.navigation{
	width:250px;
	height:190px;
	position:absolute;
	background:white;
	z-index:1000;
	bottom:5px;
	right:10px;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')"
}
/*书写文字 “图例” div样式*/
.nav-first{float:left;width:240px;height:30px;line-height:30px;padding-left:10px;font-size:14px;color:white;background:#00AFFE;	}
.nav-first .legendunit{float: right;margin-right: 5px;}
/*设置左侧导航的位置*/
.nav-left{float:left;margin-left:5px;margin-top:5px;width:75px;height:auto;}
/* 全省  全市 兴趣点  位置 */
.nav-left-first{float:left;height:130px;width:40px;margin-left:2px;}
/*兄弟节点 全省 全市 兴趣点*/
.province-city-point{margin-top:22px;float:left;width:40px;	text-align:center;cursor:pointer;}
.nav-left-second{float:left;width:15px;height:130px;}
.nav-left-third{float:left;width:10px;}
.nav-left-third li{list-style: none;}
/*设置右侧图例位置*/
.nav-right{float:left;margin-left:5px;margin-top:5px;border:1px solid #cae0ee;width:158px;height:150px}
/* 直线 iconfont放置位置 */
.nav-left-second-one{float:left;margin-top:20px;}
.nav-right-one{float:left;margin-top:5px;width:110px;height:45px;line-height:27px;}
/*设置图例不同的颜色*/
.nav-right-one-color1{float:left;width:45px;height:10px;margin-top:15px;margin-left: 5px;}
.nav-right-one-color2{float:left;width:45px;height:10px;margin-top:15px;margin-left: 5px;}
.nav-right-one-color3{float:left;width:45px;height:10px;margin-top:15px;margin-left: 5px;}
.nav-right-two-second{float: left;width: 55px;margin-left: 5px;height: 20px;margin-top: 7px;}
/*设置导航切换的颜色*/
.setColor{color:#00AFFE;}
.bigger,.smaller{cursor: pointer;}
/* 地图搜索 */
.mapSearch{
	position: absolute;
	left: 10px;
	top:116px;
	height: 30px;
	width: 400px;
	background-color: #FFF;
	z-index: 99999;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
}
.mapSearch .inputdiv{width: 370px;height: 100%;float: left;}
.mapSearch .bntdiv{width: 30px;height: 100%;float: left;background-color: #00AFFE;line-height: 34px;text-align: center;cursor: pointer;}
.mapSearch .inputdiv input{float: left;width: 325px;height: 26px;margin-top: 1px;margin-left:5px;;border: 0;color: #272727;line-height: 26px;}
.mapSearch .inputdiv i{
	float: right;
	width: 30px;
	height: 24px;
	margin-right: 3px;
	margin-left: 2px;
	margin-top:3px;
	border-left: 1px solid #D8D8D8;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	color: #C9C9C9;
}
.mapSearch .bntdiv i{color: #fff;font-size: 22px;}
/* 地图搜索结果 */
.mapsearchresult{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99999;
	width: 400px;
	max-height: 120px;
	background-color: #fff;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
	padding-bottom: 3px;
	display: none;
}
.mapsearchresult .eachmapsearchresult{width: 100%;height: 30px;line-height: 30px;text-indent: 5px;cursor: pointer;/* border-bottom: 1px solid #cae0ee */}
.mapsearchresult .eachmapsearchresult i{float: left;color: #00AFFE;}
.mapsearchresult .eachmapsearchresult .text{float: left;}
.mapsearchresult .eachmapsearchresult .type{float: right;margin-right: 10px;}
.mapsearchresult .eachmapsearchresult:HOVER{background-color: #98E0FF}
/* 场景定制 */
.scenelist{
	position: absolute;
	right: 10px;
	top: 5px;
	width: 250px;
	height: 20px;
	background-color: #fff;
	padding: 5px;
	z-index: 99999;	
	color: #01B0FF;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
	line-height: 20px;
}
.scenelist .icon1{float: left;cursor: default;}
.scenelist .icon2{float: right;cursor: pointer;line-height: 24px;}
.scenelist span.text{float: left;cursor: default;margin-left: 5px;}
.scenelist span.text span{float: right;}
.scenelistdiv{
	position: absolute;
	top: 38px;
	right: 10px;
	width: 250px;
	height: auto;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
	z-index: 9999;
	background-color: #fff;
	padding: 5px;
	display: none;
}
.scenelistdiv .recommendscene{
	float: left;
	width: 100%;
	height: 140px;
	border: 1px solid #cae0ee;
	/* For IF9 Or opera */
	box-shadow:2px 2px 2px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:2px 2px 2px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:2px 2px 2px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#BFD2D6')";
}
.scenelistdiv .myscene{
	float: left;
	width: 100%;
	height: 140px;
	margin-top: 4px;
	border: 1px solid #cae0ee;
	/* For IF9 Or opera */
	box-shadow:2px 2px 2px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:2px 2px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:2px 2px 2px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#BFD2D6')";
}
.scenelistdiv .clickbnt{
	float: left;
	width: 100%;
	height: 24px;
	margin-top: 6px;
	background-color: #00AFFF;
	color: #fff;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	/* For IF9 Or opera */
	box-shadow:2px 2px 2px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:2px 2px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:2px 2px 2px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#BFD2D6')";
}
/* .scenelistdiv .esc{margin-top: 3px;display: none;} */
.scenelistdiv .title{float: left;width: 100%;height: 30px;background-color: #00AFFF;color: #fff;line-height: 30px;cursor: default;}
.scenelistdiv .mainlist{float: left;;width: 100%;height: 110px;padding-bottom: 3px;}
.scenelistdiv .title i{color: #fff;font-size: 18px;float: left;margin-left: 5px;line-height: 34px;margin-right: 5px;}
.scenelistdiv .mainlist .eachscene{width: 100%;height: 28px;border-bottom: 1px solid #cae0ee;line-height: 28px;text-indent: 1ex;cursor: default;}
.scenelistdiv .mainlist .eachscene span{float: left;color: #000}
.scenelistdiv .mainlist .eachscene i{float: right;color: #00AFFF;font-size: 18px;cursor: pointer;}
.scenelistdiv .recommendscene .mainlist .eachscene i.check{margin-right: 5px;}
.scenelistdiv .myscene .mainlist .eachscene i.check{margin-right: 0px;}
.scenelistdiv .myscene .mainlist .eachscene i.update{margin-right: 5px;}
/* 当前场景信息框 */
.cursceneinfodiv{
	position: absolute;
	z-index: 88889 !important;
	height: 90px;
	width: 300px;
	background-color: #fff;
	top: 5px;
	left: auto;
	border: 1px solid #cae0ee;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
	color: #fff;
	cursor: default;
	display: none;
}
.cursceneinfodiv .title{width: 300px;height: 60px;;text-indent: 1ex;}
.cursceneinfodiv .title .curscene{width: 300px;height: 30px;text-indent: 1ex;line-height: 30px;background-color: #00AFFE;color: #fff}
.cursceneinfodiv .title .curindex{width: 300px;height: 30px;text-indent: 1ex;line-height: 30px;color: #000}
.cursceneinfodiv .quitbnt{width: 300px;height: 30px;line-height: 30px;cursor: pointer;background-color: #00AFFE;color: #fff;text-align: center;}
.cursceneinfodiv .title .curscene .icon,.cursceneinfodiv .title .curindex .icon{float: right;margin-right: 5px;cursor: pointer;}
.cursceneinfodiv .title .curscene .downloadscene{float: left;margin-right: 3px;font-size: 16px;}
.cursceneinfodiv .title .curindex .switchindex{float: left;margin-right: 3px;color: #00AFFE;font-size: 12px;}

/* 默认展示全部数据 */
.defaultallinfo{
	height: auto;
	width: 400px;
	background-color: #fff;
	position: absolute;
	top: 150px;
	left: 10px;
	/* For IF9 Or opera */
	box-shadow:5px 5px 5px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:5px 5px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:5px 5px 5px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color='#BFD2D6')";
	z-index: 99990;
	padding-bottom: 3px;
}
.defaultallinfo .titlediv{float:left;width: 100%;height: auto;}
.indexdiv{float:left;width: 100%;max-height: 280px;}
.otherdiv{float:left;width: 100%;height: 70px;}
.regiontitle i{float: left;font-size: 16px;line-height: 32px;}
.regiontitle span{font-size: 16px}
.indexdiv .eachindexdiv{float: left;width: 100%;height: 24px;line-height: 24px;border-bottom: 1px solid #cae0ee;text-indent: 1ex;margin-top: 3px;}
.indexdiv .eachindexdiv i{cursor: pointer;}
.indexdiv .eachindexdiv span{cursor: default;}
.indexdiv .eachindexdiv .signicon{float: left;cursor: default;}
.indexdiv .eachindexdiv .indexname{float: left;}
.indexdiv .eachindexdiv .indexvalue{float: left;}
.indexdiv .eachindexdiv .moreicon{float: right;margin-right: 5px;color: #00AFFE}
.indexdiv .eachindexdiv .indexrate{float: right;}
.indexdiv .eachindexdiv .rateicon{float: right;}
/* 相关信息 */
.moreinfodiv{float:left;width: 100%;height: auto;background-color: #D8F0FF;display: none;border-bottom: 1px solid #cae0ee}
.moreinfodiv .reltitle{float:left;width: 100%;height: 26px;line-height: 26px;background-color: #55BCFF}
.moreinfodiv .relmain{float:left;width: 100%;height: auto;padding-top: 3px;padding-bottom: 3px;}
.moreinfodiv .eachrelindexdiv{float: left;width: 100%;height: 24px;line-height: 24px;}
.moreinfodiv .reltitle i{color: #fff;cursor: pointer;}
.moreinfodiv .reltitle span{float: left;font-size: 14px;color: #fff;}
.moreinfodiv .reltitle span.curindexname{text-indent: 1ex;}
.moreinfodiv .reltitle .addindex{float: right;color: #fff;margin-right: 5px;font-size: 18px;}
.moreinfodiv .relmain .eachrelindexdiv{width: 100%;height: 24px;line-height: 24px;text-indent: 2ex;}
.moreinfodiv .relmain .eachrelindexdiv i{cursor: default;}
.moreinfodiv .relmain .eachrelindexdiv span{cursor: default;}
.moreinfodiv .relmain .eachrelindexdiv .indexname{float: left;}
.moreinfodiv .relmain .eachrelindexdiv .indexvalue{float: left;}
.moreinfodiv .relmain .eachrelindexdiv .indexrate{float: right;margin-right: 5px;}
.moreinfodiv .relmain .eachrelindexdiv .rateicon{float: right;}

/* 总览标题 */
.defaultallinfo .titlediv .regiontitle{float:left;width:100%;height: 30px;line-height:30px;color: #fff;background:#00AFFF;text-indent: 1ex;}
/* 兴趣点标题 */
.defaultallinfo .titlediv .pointtitle{width: 400px;height: auto;display: none;}
.defaultallinfo .titlediv .pointtitle .baseinfo{width: 390px;height: 80px;background-color: #00AFFF;padding:5px;}
.defaultallinfo .titlediv .pointtitle .otherbntdiv{width: 390px;height: 30px;background-color: #fff;padding: 5px;border-bottom: 1px solid #cae0ee}
.defaultallinfo .titlediv .pointtitle .baseinfo .name{
	float: left;
	height: 30px;
	width: 310px;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	text-overflow:ellipsid;
	white-space:nowrap;
	word-break:keep-all;
	overflow: hidden;
	cursor: default;
}
.defaultallinfo .titlediv .pointtitle .baseinfo .detail{
	float: left;
	height: 20px;
	width: 53px;
	line-height: 20px;
	border: 1px solid #fff;
	margin-left: 20px;
	margin-top: 4px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.defaultallinfo .titlediv .pointtitle .baseinfo .star{
	float: left;
	height: 30px;
	width: 310px;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	cursor: default;
}
.defaultallinfo .titlediv .pointtitle .baseinfo .star i{font-size: 18px;color: #fff}
.defaultallinfo .titlediv .pointtitle .baseinfo .contrats{
	float: left;
	height: 20px;
	width: 53px;
	line-height: 20px;
	border: 1px solid #fff;
	margin-left: 20px;
	margin-top: 4px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.defaultallinfo .titlediv .pointtitle .baseinfo .type{
	float: left;
	width: 150px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	cursor: default;
}
.defaultallinfo .titlediv .pointtitle .baseinfo .data{
	float: left;
	width: 240px;
	height: 20px;
	color: #fff;
	text-align: right;
	line-height: 20px;
	cursor: default;
}
.defaultallinfo .titlediv .pointtitle .otherbntdiv .left_bnt{
	float:left;
	width: 195px;
	height: 100%;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #00AFFF
}
.defaultallinfo .titlediv .pointtitle .otherbntdiv .right_bnt {
	float: left;
	width: 194px;
	height: 100%;
	border-left: 1px solid #cae0ee;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #00AFFF
}

.defaultallinfo .titlediv .pointtitle .otherbntdiv .left_bnt i{margin-right: 10px;font-size: 20px;}
.defaultallinfo .titlediv .pointtitle .otherbntdiv .right_bnt i{margin-right: 10px;font-size: 24px;}
/* 兴趣点详情弹出层 */
.pointdetaildiv{position: absolute;top: 0;left: 0px;width: 800px;height: 500px;background-color: #fff;border: 1px solid #cae0ee;z-index: 9999999;display: none;}
.pointdetaildiv .title{float: left;height: 30px;width: 100%;color: #fff;background-color: #00AFFF;text-indent: 1ex;line-height: 30px;cursor: default;font-size: 14px;}
.pointdetaildiv .title i{float: right;margin-right: 10px;font-size: 18px;cursor: pointer;}
.pointdetaildiv .main{float: left;height: 470px;width: 800px;}
.pointdetaildiv .main iframe {width: 100%;height: 100%;border: 0px;}
/* 对比框 */
.contratslistdiv {
	position: absolute;
	width: 120px;
	height: 30px;
	background-color: #00AFFF;
	right: 10px;
	bottom: 200px;
	color: #fff;
	/* For IF9 Or opera */
	box-shadow:2px 2px 2px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:2px 2px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:2px 2px 2px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#BFD2D6')";
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.contratslistdiv i{float: right;margin-right: 10px;}
.selectcontrats{
	position: absolute;
	width: 180px;
	height: auto;
	background-color: #fff;
	right: 10px;
	bottom: 235px;
	/* For IF9 Or opera */
	box-shadow:2px 2px 2px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:2px 2px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:2px 2px 2px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#BFD2D6')";
	padding: 5px;
	display: none;
	z-index: 99999;
}
.selectcontrats .title{width: 100%;height: 19px;line-height: 19px;border-bottom: 1px solid #cae0ee}
.selectcontrats .title span{font-size: 16px;font-weight: bold;color: #00AFFF}
.selectcontrats .list{width: 100%;height: 100px;margin-top: 5px;}
.selectcontrats .list .eachpoint{width: 100%;height: 24px;border-bottom: 1px dashed #cae0ee;line-height: 24px;}
.selectcontrats .list .eachpoint span {
	float: left;
	width: 140px;
	height: 19px;
	cursor: default;
	text-overflow:ellipsid;
	white-space:nowrap;
	word-break:keep-all;
	overflow: hidden;
}
.selectcontrats .list .eachpoint i{float: right;width: 30px;height: 19px;cursor: pointer;font-size: 16px;color: #00AFFF;}
.selectcontrats .bnt{width: 100%;height: 24px;margin-top: 5px;}
.selectcontrats .bnt .startbnt{height: 24px;border: 0px;background-color: #00AFFF;color: #fff;width: 100px;margin-left: 40px;cursor: pointer;outline: none;}
/* 添加关联指标 */
.addrelindex{position: absolute;top: 0;left: 0px;width: 800px;height: 500px;background-color: #fff;border: 1px solid #cae0ee;z-index: 9999999;display: none;}
.addrelindex .title{float: left;height: 30px;width: 100%;color: #fff;background-color: #00AFFF;text-indent: 1ex;line-height: 30px;cursor: default;font-size: 14px;}
.addrelindex .title i{float: right;margin-right: 10px;font-size: 18px;cursor: pointer;}
.addrelindex .main{float: left;height: 470px;width: 800px;}
.addrelindex .main iframe {width: 100%;height: 100%;border: 0px;}


/* 地图部分样式 */
.pointinfowindow{width: 200px;height: auto;overflow: hidden;}
.pointinfowindow .eachindexinfo{width: 100%;height: 20px;line-height: 20px;}
.pointinfowindow .eachindexinfo span.text{float: left;}
.pointinfowindow .eachindexinfo span.value{float: right;}
.btsinfowindow{width: 200px;height: auto;overflow: hidden;}
.btsinfowindow .btsnamediv{width: 200px;height: 20px;line-height: 20px;}
.btsinfowindow .btstypediv{width: 200px;height: 20px;}
.pointinfowindow .bnt{width: 200px;height: 20px;line-height: 20px;font-size: 12px;text-align: center;cursor: pointer;}
.pointinfowindow .bnt span{text-decoration: underline;color: #00AFFF;}

/* 地图模式切换 */
.maptypeswicth{
	max-height: 50px;
	position: absolute;
	z-index: 99999;
	/* For IF9 Or opera */
	box-shadow:2px 2px 2px #BFD2D6;
	/* For FireFox */
	-moz-box-shadow:2px 2px 5px #BFD2D6;
	/* For Safari Or Chrome */
	-webkit-box-shadow:2px 2px 2px #BFD2D6;
	/* For IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#BFD2D6')";
	bottom: 5px;
	right: 265px;
	background-color: #fff;
	border: 1px solid #cae0ee;
}
.maptypeswicth .grid{float:left;width: 60px;height: 30px;padding: 5px;line-height: 30px;border-right: 1px solid #cae0ee;text-align: center;cursor: pointer;}
.maptypeswicth .point{float:left;width: 60px;height: 30px;padding: 5px;line-height: 30px;text-align: center;cursor: pointer;}
.maptypeswicth .curmodel{background-color: #00AFFF;color: #fff;}
/* 网格指标信息框 */
.gridindexinfo{
	position: absolute;
	border: 1px solid #cae0ee;
	width: 400px;
	height: 180px;
	z-index: 99999;
	background-color: #fff;
}
.gridindexinfo .title{width: 100%;height: 30px;line-height: 30px;float: left;background-color: #00AFFF;color: #fff;}
.gridindexinfo .mian{width: 100%;height: 150px;line-height: 30px;float: left;}
.gridindexinfo .title span{float: left;text-indent: 1ex;cursor: default;}
.gridindexinfo .title i{float: right;margin-right: 5px;cursor: pointer;color: #fff;}

.gridindexinfo .mian .eachindexdiv{float: left;width: 100%;height: 29px;line-height: 29px;border-bottom: 1px solid #cae0ee;text-indent: 1ex;}
.gridindexinfo .mian .eachindexdiv i{cursor: pointer;}
.gridindexinfo .mian .eachindexdiv span{cursor: default;}
.gridindexinfo .mian .eachindexdiv .signicon{float: left;cursor: default;}
.gridindexinfo .mian .eachindexdiv .indexname{float: left;}
.gridindexinfo .mian .eachindexdiv .indexvalue{float: left;}
.gridindexinfo .mian .eachindexdiv .moreicon{float: right;margin-right: 5px;color: #00AFFE}
.gridindexinfo .mian .eachindexdiv .indexrate{float: right;}
.gridindexinfo .mian .eachindexdiv .rateicon{float: right;}
