/*��ҳ������*/
.maindiv{width:96%;margin-left:3%;position:relative;margin-top: 20px;}

/*jquery.ui ������div*/
.maindiv .echartsdesc{width:350px;height:300px;background:rgb(9,18,40);position:absolute;z-index: 99999999999 !important;display:none;}
.maindiv .echartsdesc .title{width: 100%;height:30px;line-height:30px;color:white;font-size: 18px;background:rgb(19,30,56);position: relative;}
.maindiv .echartsdesc .title .closeicon{right:5px;cursor:pointer;color:black;position: absolute;}
.maindiv .echartsdesc .title span{margin-left:10px;padding-left:10px;border-left:3px solid #EC496A}
.maindiv .echartsdesc .content{width: 100%;height:270px;}

/*�ϰ벿��div*/
.maintop{
	float:left;
	width:100%;
	height: 60%;
	/* background-color:#1F2034; */ 
	text-align: center;
}

.topleft{
	float: left;
	width: 52%;
	height: 100%;
}
.topleft .title{
	width:100%;
	height: 10%;
}
.topleft .title .packinfo{
	color: #fff;
	float: left;
	font-size: 22px;
	/* padding-left: 10px; */
	height: 30px;
	/* margin-left: 10px; */
	/* border-left: 4px solid #EC496A; */
	font-weight: bold;
}
.topleft .title .packinfo font{font-size: 14px;font-weight: normal;}
.topleft .main{
	width:100%;
	height: 90%;
	position: relative;
}
/*�������ֲ�*/
.sildertop{
	text-align: center;
	position: relative;
	height: 100%;
	float: left;
	width:65%;
	height: 50%;
	margin-left: 10px;
	border-left: 1px solid rgba(219,71,102,0.2)
}
/*����ɣ��ͼ�ĵط�*/
.echartsdiv{
	float: left;
	width: 100%;
	height: 100%;
}

.topright{
	float: right;
	width: 48%;
	height: 100%;
	position: relative;
	/* background-color: #1F2034; */
}
.topright .title{
	width:100%;
	height: 10%;
	/* background-color: #2B2C3E; */
}
.topright .title .packinfo{
	color: #fff;
	float: left;
	font-size: 22px;
	/* padding-left: 10px; */
	height: 30px;
	/* margin-left: 10px;
	border-left: 4px solid #EC496A; */
	font-weight: bold;
}
.topright .title .updwondang{
	color: #0ff;
	float: right;
	font-size:20px;
	height: 30px;
	padding-right:10px;
	cursor:pointer;
}
.topright .title .packinfo font{font-size: 14px;font-weight: normal;}

/*������*/



.topright .pt-perspective{
	width:100%;
	height: 90%;
}

.topright .pt-perspective .pt-page .tablename{
	float:left;
	width:100%;
	height:15%;
}

.topright .pt-perspective .pt-page .tablename table{
	width: 100%;
	height:100%;
}
.topright .pt-perspective .pt-page .tablename table tr th{
	border:1px solid #515161;
	width:16.6667%;
	color: white;
	font-size: 20px !important;
}
.topright .pt-perspective .pt-page .tabledata{
	margin-top:1px;
	float: left;
	width: 100%;
	height:85%;
	max-height: 85%;
}

.topright .pt-perspective .pt-page .tabledata table{
	width: 100%;
}
.topright .pt-perspective .pt-page .tabledata table tr{
	cursor:pointer;
	width: 100%;
	height:40px;
	font-size: 20px;
	/* border: 1px solid rgb(81, 81, 97); */
}
.topright .pt-perspective .pt-page .tabledata table tr td{
	width:16.6667%;
}
/*�°벿��div*/
.mainbottom{
	margin-top:10px;
	float:left;
	width: 100%;
	/* background-color:#1F2034; */
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}
/*�ײ����ⲿ��*/
.mainbottom .title{
	width:100%;
	height: 17%;
	/* background-color: #2B2C3E; */
}
.mainbottom .title .packinfo{
	color: #fff;
	float: left;
	font-size: 22px;
	/* padding-left: 10px; */
	height: 30px;
	/* margin-left: 10px;
	border-left: 4px solid #EC496A */;
	font-weight: bold;
}
.mainbottom .title .packinfo font{font-size: 14px;font-weight: normal;}
/*�ײ�table��ݲ���*/
.bottomtable{
	float:left;
	width: 100%;
	height: 83%;
	background:rgba(14,23,45,0.6);
}
.tableName{
	float:left;
	width: 100%;
	height: 20%;
	/* background-color:#25263A; */
	text-align: center;
}
.tabletitle{
	margin: 0 auto;
	height: 100%;
	width: 85%;
}

/*���ñ�����֮��û�����*/
table{
	border-collapse:collapse;
}
.table1{
	height: 100%;
	width: 100%;
}
.table1 tr th{
	color:white;
	width:10%;
	height: 100%;
	font-size: 20px;
}
.table1 tr th:nth-child(1){
	color:white;
	width:20% !important;
	height: 100%;
	font-size: 20px;
}
.thright{
	width:100% !important;
	border-right: 1px solid #515161;
}
.tableshuju{
	width: 100%;
	height: 80%;
	max-height:80%;
	text-align: center;
}
.tabledata{
	margin: 0 auto;
	width: 85%;
}
.table2{
	width: 100%;
}
.table2 tr{
	cursor: pointer;
}
.table2 tr td{
	width:10%;
	height: 40px;
	padding:0;
	font-size: 20px;
}
.table2 tr td:nth-child(1){
	width:20% !important;
	height: 40px;
	padding:0;
	font-size: 20px;
}
.bcolor{
	background-color:rgba(15,29,57,0.6);
}
.dataNum{
	float:left;
	height:30px;
	width: 50%;
	line-height:30px; 
}
.dataprogress{
	float:left;
	height: 30px;
	width: 50%;
	text-align: center;
  	position: relative;
}
/*����ѡ����ʽ*/
.bgcolor1{
	background-color:rgba(25,49,100,0.6);
}
.bgcolor2{
	background-color:rgba(25,49,100,0.6) !important;
	 
}

/*���ö����ֲ���ʽ*/
.silder1{
	float:left;
	text-align:center;
	font-size:18px;
	width: auto;
	height:100%;
	color:#Db4766;
	padding-left: 10px;
}
.silder1 font{font-size: 24px;}
/*table2��ɫС��*/
.table2div{
	color:white;
	height:40px;
	width: 100%;
	max-width:100%;
	line-height:40px;
	cursor:pointer;
	overflow: hidden;
}
.table2iconfont{
	color:#29AA84 !important;
	height:40px;
	width: 100%;
	max-width:100%;
	line-height:40px;
	cursor:pointer;
	overflow: hidden;
	font-size:16px;
}
/* .table2red{
	border-left: 3px solid #ed496b;
} */
/*table2�����������ɫ*/
.tb2th{
	color:#0f9aa2;
}

.allsum{
	float: left;
	margin-left: 30px;
	height: 45%;
	border-left: 1px solid rgba(219,71,102,0.2)
}
.allsum .sumName{
	margin-left:20px;
	color: #Db4766;
	font-size: 18px;
}
.allsum .sumNum{
	margin-left: 5px;
	color:#2BF4FE;
	font-size:24px; 
}


/*ѡ�еĻ������table2���ֵ���ɫ*/
.fotcolor1{
	color:#fff !important;
}
.fotcolor2{
	color:#fff !important;
}
.qipaochangediv{
	margin-right:20px;
	float: right;
	cursor: pointer;
}
.qipaochangediv i,.qipaochangediv span{
	font-size: 20px;
	color: #2bf4fd;
}
.qipaochangediv span{
	text-decoration: underline;
}

.font1{
	color:green !important;
	font-size: 20px !important;
}
.font2{
	color:red !important;
	font-size: 20px !important;
}
.divradar{
	float:left;
	width: 100%;
	height: 100%;
	background:rgba(14,23,45,0.6);
	position: relative;
}
.radarechart{
	width: 100%;
	height:100%;
}
.divfanhui{
	right:20px;
	bottom:10px;
	color:white;
	cursor:pointer;
	position: absolute;
}
.font3{
	font-size: 36px !important;
	color:#2bf4fd;
}

.tooltipdiv{
	width:210px;
	height: 155px;
}
.tooltiptitle{
	padding-left:10px;
	text-align:left;
	float:left;
	width:200px;
	height:30px;
	background: #2B2C3E;
	font-size:16px;
	line-height:30px;
	font-size:14px;
}
.tooltiptitle .tooltiptitle1{
	border-left: 4px solid #ED496B;
	padding-left: 5px;
}
.tooltipdata{
	padding-left:15px;
	text-align:left;
	float:left;
	width:195px;
	font-size:12px;
	height:25px;
	line-height: 25px;
	background-color: #25263A;
	
}
.tooltipdata-last{
	padding-left:15px;
	text-align:left;
	float:left;
	width:195px;
	font-size:12px;
	height:25px;
	line-height: 25px;
	background-color: #25263A;
}
/*��ʷ���׷��*/
.pt-page .divhistory{
	width: 100%;
	height: 85%;
	position: absolute;
	opacity:0;
	fiter:alpha(opacity=0);
}
.pt-page .divhistory .historycontent{
	width: 32%;
	height: 100%;
	background:rgba(14,23,45,0.6);
	float: left;
	margin-right:2%;
}
.pt-page .divhistory .historycontent-last{
	margin-right:0%;
}
.pt-page .divhistory .historycontent .title{
	height: 50px;
	line-height: 50px;
	color: white;
	font-size: 20px;
	text-align: left;
	text-indent: 15px;
	border-bottom: 1px solid #19202F;
	box-sizing:border-box;
}
.pt-page .divhistory .historycontent .title1{
	border-left:7px solid #887952;
}
.pt-page .divhistory .historycontent .title2{
	border-left:7px solid #744042;
}
.pt-page .divhistory .historycontent .title3{
	border-left:7px solid #55657F;
}
.pt-page .divhistory .historycontent .historydata .douarpu{
	width:100%;height:40%;
}
.pt-page .divhistory .historycontent .historydata .douarpu .name{
	width:40%;
	height: 100%;
	float:left;
	border-right: 1px solid #172241;
	box-sizing:border-box;
	font-size:18px;
	color: white;
}
.pt-page .divhistory .historycontent .historydata{
	float: left;
}
.pt-page .divhistory .historycontent .historydata .douarpu .hisdata{
	width:60%;
	height: 100%;
	float:left;
}
.pt-page .divhistory .historycontent .historydata .douarpu .hisdata .hisdataleft{
	width:43%;
	height:50%;
	float:left;
	font-size:18px;
	color: white;
}
.pt-page .divhistory .historycontent .historydata .douarpu .hisdata .hisdataright{
	width:57%;
	height:50%;
	float:left;
	font-size:18px;
	text-align:left;
	color: #0ff;
}

/*ƴ��ͼ��*/
.pt-page .tulis{
	position: absolute;
	bottom:10px;
	border-radius:20px;
	background: #030E24;
}
.pt-page .tulis .tuli{
	width:120px;
	height:35px;
	float: left;
	cursor: pointer;
}
.pt-page .tulis .tuli-first{
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}
.pt-page .tulis .tuli-last{
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
.pt-page .tulis .tulione{
	border-radius:20px;
}
.pt-page .tulis .tuli div{
	width:120px;
	height:20px;
	line-height:20px;
	font-size:16px;
	color:white;
	margin-top:7.5px;
	border-right: 1px solid #232A40;
	box-sizing:border-box;
}
.pt-page .tulis .tuli-last div{
	border-right: 0px solid #232A40;
}
.pt-page .tulis .tulione div{
	border-right: 0px solid #232A40;
}
.pt-page .tulis .monthselect{
	background:#024D64; 
}
/*���������ʽ*/
.divtips{
	width:250px;
}
.divtips .title{
	width:250px;
	height:30px;
	line-height: 30px;
	font-size:18px;
	color: white;
	background:#030A1C;
}
.divtips .content{
	text-align:left;
	width:240px;
	margin-left:10px;
	font-size: 18px;
}
.divtips .content .span1{
	font-size:16px;
	color:white;
}
.divtips .content .span2{
	font-size:20px;
	color:#0f9aa2
}


/*主推流量包历史数据*/
.flowpackhsitoty{
	top:10%;
	left:20%;
	width:920px;
	height:510px;
	position: absolute;
	display: none;
	z-index:9999999999 !important;
}
.flowpackhsitoty .shutdown{
	width:48px;
	height:48px;
	top:-20px;
	right:-20px;
	cursor:pointer;
	position: absolute;
}
.flowpackhsitoty .historyname{
	height:70px;
	line-height:70px;
	font-size: 24px;
	letter-spacing:5px;
	color: #0ff;
	text-align: center;
}
.flowpackhsitoty .packhisdata{
	height:380px;
}
.flowpackhsitoty .packhisdatanav{
	text-align:center;
	height:60px;
}
.flowpackhsitoty .packhisdatanav .packdaohang{
	margin:15px auto;
	height: 30px;
	width:240px;
	border: 1px solid #09597C;
	border-radius:15px;
}
.flowpackhsitoty .packhisdatanav .packdaohang div{
	display:inline-block;
	width:80px;
	height: 30px;
	line-height:30px;
	float: left;
	color: white;
	border-radius:15px;
	cursor: pointer;
}
.flowpackhsitoty .packhisdatanav .packdaohang .packdaohang1{
	background: #09597C;
}
